.sectionAbout {
    background-color: #f1f3f3;
}

.about {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    &__title {
        margin-bottom: 30px;
        flex-basis: 100%;
    }
     &__images {
        width: 30%;
        justify-content: space-around;
        position: relative;
    }
    &__imagesCaption {
        width: 100%;
        background-color: rgba(29, 29, 29, 0.83);
        color: #eeeded;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}