
header {
    background-image:url(../assets/image-1.jpeg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
}

header .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // @include flex (auto, column, center, wrap);
}

// Navigation + Logo styling

.navBar {
    @include flex (auto, space-between);
    @include padding(15px, null, null, null);
    &__navigation {
        display: flex;
        justify-content: flex-end;
    }
    &__link {
        align-items: center;
        text-decoration: none;
        color: $primary;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 10px;
        margin: 2.5px;
        text-transform: uppercase;
        &:hover {
            color: $secondary;
        }
    }
    // Footer Navigation adjustments
    &--footer {
        @include flex (column, center, center, wrap);
        @include padding (null, null, 50px, null);
        @include bp (665) {
            display: none;
        }
    }
    &__logo--footer {
        @include margin (null, null, 15px, null);
    }
}


// .scrolled{
//   background-color: white;
//   transition: 0.3s;
//   .navBar li a, .navBar li i.fab {
//   	color: $primary;
//   }
//   .navBar__logo {
//   	color: $primary;
//   }
// }


.navBar__navigation ul {
    @include flex (auto, auto, center);
    list-style: none;
}

// Hero Text Styling

.heroText {
    @include flex (column, center, auto, auto);
    flex: 1 0 auto;
    @include bp(736) {
        text-align: center;
        text-shadow: 3px 3px rgba(255, 255, 255, 0.5);
    }
}


// Button Styling for Full Page

.blueButton {
    background: $secondary;
    padding: 5px 25px;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $buttonWhite;
    border: 2px solid $secondary;
    border-radius: 10px;
    &--black {
        background: $primary;
        border: 2px solid $primary;
        color: $buttonWhite;   
        }
    &:hover {
        background: $buttonWhite;
        color: #0e5f88;
    }
}

// Hamburger Navigation Styling

.hamburger,
.exit-responsive {
	display: none;
}

.exit-responsive {
	right: 0;
	padding: 15px;
}

.show.navBar__navigation {
    display: block;
    position: fixed;
}

// Media Queries for Hamburger Menu

@media all and (max-width: 775px) {

    
    .hamburger,
	.exit-responsive {
		display: block;
		font-size: 25px;
    }
    
    .hamburger {
        margin-top: 5px;
        position: sticky;
    }


	.navBar__navigation {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
        background: rgba(255,255,255,0.99);
	}

	.navBar__navigation ul {
		display: flex;
		flex-direction: column;
		background: white;
	}

	.navBar__navigation ul a {
		font-size: 50px;
		text-align: center;
        width: 100%;
        color: black;
	}

	.navBar__navigation ul a:hover {
		color: $secondary;
    }
    

}