
header {
    background-image:url(../assets/image-1.jpeg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

header.wrapper {
    height: 100vh;
    display: flex;
    // @include flex (auto, column, center, wrap);
}

.navBar {
    @include flex (auto, space-between);
    @include padding(15px, null, null, null);
    &__navigation {
        display: flex;
    }
    &__link {
        align-items: center;
        text-decoration: none;
        color: $primary;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 10px;
        margin: 2.5px;
        text-transform: uppercase;
        &:hover {
            color: $secondary;
        }
    }
    // Footer Navigation adjustments
    &--footer {
        @include flex (column, center, center, wrap)
        @include padding (null, null, 50px, null)
    }
    &__logo--footer {
        @include margin (null, null, 15px, null);
    }
}

.navBar__navigation ul {
    @include flex (auto, auto, center)
    list-style: none;
    & li {

        }
}

.heroText {
    @include flex (column, center, auto, auto);
    flex: 1 0 auto;
    @include bp(736) {
        text-align: center;
    }
}

// .navBar input + label {
    
// }
