h1 {
    font-size: 83px;
    font-size: 8.3rem;
    font-family: "Montserrat";
}

h2 {
    font-size: 48px;
    font-size: 4.8rem;
    font-family: "Montserrat";
}

h3 {
    font-size: 34px;
    font-size: 3.4rem;
    font-family: "Montserrat";
}

h4 {
    font-size: 24px;
    font-size: 2.4rem;
    font-family: "Montserrat";
}

p {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Open Sans";
}