// Font Colors:
// Black: #1d1d1d
// Paragraphy: #5d5e5d
// White font on Black: #d2d7d8
// Arrows on black: #cacecf
// Project 1: #e6e2e2
// Services large numbers: rgba(229, 227, 227, 0.5)
// About Us Names: #eeeded
// Footer font: #ffffff

// Background colors:
// Why Choose us Beige: #f1f3f3
// Light Blue: #8ecceb
// Project 1 overlay:rgba(29, 29, 29, 0.78);
// About Us Overlay: rgba(29, 29, 29, 0.83);

// Additional Colours for the rest of the Site ^^

// Colour Styling

$primary:#1d1d1d;
$secondary:#0e5f88;
$tertiary:#8ecceb;
$buttonWhite: #efeeee;


// Mixin for Media Query -- When I moved this down to the Mixin section, it stopped working in my partials so I left it where it is. Sorry!

@mixin bp($point) {
  @if $point == 980 {
    @media (max-width: 980px) { @content; }
  }
  @else if $point == 890 {
    @media (max-width: 890px) { @content; }
  }  
  @else if $point == 810 {
    @media (max-width: 810px) { @content; }
  }
  @else if $point == 736 {
    @media (max-width: 736px) { @content; }
  }
  @else if $point == 665 {
    @media (max-width: 665px) { @content; }
  }
  @else if $point == 530 {
    @media (max-width: 530px) { @content; }
  }
  @else if $point == 480 {
    @media (max-width: 480px)  { @content; }
  }
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1280px;
    width: 70%;
    margin: 0 auto;
    @include bp(980) {
        // max-width: 980px;
        width: 80%;
    }
    @include bp (810) {
        width: 85%;
    }
    @include bp (736) {
        width: 90%;
    }
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

img {
    max-width: 100%;
    display: block;
}

img, li, ul, figure {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// Mixins Styling


// for centering text
@mixin center {
    margin: 0 auto;
}

// for overlay position
@mixin overlayPosition {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// for pseudo elements
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

// for adding padding
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

// for adding margin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

// for flex --->> courtesy of Ricky Law
@mixin flex($flexDirection:auto, $justifyContent:auto, $alignItems:auto, $flexWrap:auto){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}


