article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1280px;
  width: 70%;
  margin: 0 auto; }
  @media (max-width: 980px) {
    .wrapper {
      width: 80%; } }
  @media (max-width: 810px) {
    .wrapper {
      width: 85%; } }
  @media (max-width: 736px) {
    .wrapper {
      width: 90%; } }

body {
  margin: 0 auto;
  font-family: "Open Sans"; }

img {
  max-width: 100%;
  display: block; }

img, li, ul, figure {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.blueButton {
  background: #0e5f88;
  padding: 5px 25px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #efeeee;
  border: 2px solid #0e5f88;
  border-radius: 10px; }
  .blueButton--black {
    background: #1d1d1d;
    border: 2px solid #1d1d1d;
    color: #efeeee; }
  .blueButton:hover {
    background: #efeeee;
    color: #0e5f88; }

h1, h2, h3, h4 {
  font-family: "Montserrat"; }

h1 {
  font-size: 83px;
  font-size: 8.3rem; }

h2 {
  font-size: 48px;
  font-size: 3.4rem; }

h3 {
  font-size: 34px;
  font-size: 2.4rem; }

h4 {
  font-size: 24px;
  font-size: 1.8rem; }

p {
  font-size: 16px;
  font-size: 1.2rem;
  font-family: "Open Sans"; }

h1, h2, h3, h4 {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

header {
  background-image: url(../assets/image-1.jpeg);
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

header .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: auto;
  flex-direction: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  padding-top: 15px; }
  .navBar__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .navBar__link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #1d1d1d;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px;
    margin: 2.5px;
    text-transform: uppercase; }
    .navBar__link:hover {
      color: #0e5f88; }
  .navBar--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 50px; }
    @media (max-width: 665px) {
      .navBar--footer {
        display: none; } }
  .navBar__logo--footer {
    margin-bottom: 15px; }

.navBar__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: auto;
  flex-direction: auto;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  list-style: none; }

.heroText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
  @media (max-width: 736px) {
    .heroText {
      text-align: center; } }

.hamburger,
.exit-responsive {
  display: none; }

.exit-responsive {
  right: 0;
  padding: 15px; }

.show.navBar__navigation {
  display: block;
  position: fixed; }

@media all and (max-width: 780px) {
  .hamburger,
  .exit-responsive {
    display: block;
    font-size: 25px; }
  .hamburger {
    margin-top: 5px; }
  .navBar__navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.99); }
  .navBar__navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: white; }
  .navBar__navigation ul a {
    font-size: 50px;
    text-align: center;
    width: 100%; }
  .navBar__navigation ul a:hover {
    color: #0e5f88; } }

.welcomeSection {
  background: white; }

.welcome {
  padding: 100px 15px;
  text-align: center; }

.blueWord {
  -webkit-columns: #0e5f88;
  columns: #0e5f88; }

.blueButton {
  margin-top: 25px; }

.valuesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.values {
  width: 50%; }

.values1 {
  background: #f1f3f3;
  padding: 50px 80px;
  overflow: hidden; }
  .values1__title {
    margin-bottom: 45px; }
  @media (max-width: 980px) {
    .values1 {
      width: 60%; } }
  @media (max-width: 810px) {
    .values1 {
      padding: 50px 50px; } }
  @media (max-width: 736px) {
    .values1 {
      text-align: center;
      width: 100%; } }
  @media (max-width: 530px) {
    .values1 {
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/image-4.jpeg);
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-4.jpeg);
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-4.jpeg);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-4.jpeg);
      background-position: center;
      color: white;
      padding: 100px 50px; } }

.values2 {
  background-image: url(../assets/image-4.jpeg);
  background-size: cover; }
  @media (max-width: 980px) {
    .values2 {
      width: 40%;
      background-position: center; } }
  @media (max-width: 530px) {
    .values2 {
      display: none; } }

.chooseUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }
  .chooseUs__image {
    width: 150px;
    padding-top: 5px;
    margin-right: 20px; }
    @media (max-width: 980px) {
      .chooseUs__image {
        display: none; } }
    @media (max-width: 736px) {
      .chooseUs__image {
        display: block; } }
    @media (max-width: 530px) {
      .chooseUs__image {
        display: none; } }
  @media (max-width: 736px) {
    .chooseUs__textBox {
      text-align: left; } }
  @media (max-width: 530px) {
    .chooseUs__textBox {
      text-align: center; } }

.sectionServices1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0; }
  @media (max-width: 665px) {
    .sectionServices1 .wrapper {
      padding: 70px 0; } }

.sectionServices1 h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  text-align: center;
  margin-bottom: 30px; }

.services1 {
  width: calc(100% / 3 - 30px);
  border: 2px solid rgba(142, 204, 235, 0.83);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 810px) {
    .services1 {
      padding: 10px; } }
  @media (max-width: 665px) {
    .services1 {
      width: calc(100% / 2 - 30px);
      margin-bottom: 30px; } }
  @media (max-width: 480px) {
    .services1 {
      width: 80%; } }
  .services1:hover {
    background: #8ecceb; }
  .services1__icon {
    font-size: 4.8rem;
    margin: 20px 0; }
    @media (max-width: 480px) {
      .services1__icon {
        margin: 5px 0; } }
  .services1__listItem {
    text-align: left;
    padding: 0 15%;
    line-height: 10px; }
    @media (max-width: 890px) {
      .services1__listItem {
        padding: 0 10%; } }
    @media (max-width: 736px) {
      .services1__listItem {
        display: none; } }
    .services1__listItem::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      padding-right: 10px; }

.sectionTestimonials {
  background: #1d1d1d; }

.testimonials {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  padding: 100px 0; }
  .testimonials__title {
    color: #dfdede;
    margin-bottom: 30px; }
  .testimonials__image {
    margin: 30px auto; }
  .testimonials__text {
    color: #dfdede;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400; }
  .testimonials__author {
    color: #dfdede;
    font-size: 1.6rem;
    font-style: italic; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 665px) {
    .gallery {
      display: none; } }
  .gallery__cell {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    position: relative; }
    @media (max-width: 810px) {
      .gallery__cell {
        -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%; } }
    @media (max-width: 810px) {
      .gallery__cell--4 {
        display: none; } }
    .gallery__cell img {
      -o-object-fit: cover;
      object-fit: cover; }

.gallery__cellTitle, .gallery__cellText {
  color: #ffffff; }

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(29, 29, 29, 0.78);
  z-index: 3;
  display: none; }

.gallery__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  border: 1px solid white;
  border-radius: 10px;
  height: 100%; }

.gallery__cell:hover .gallery__overlay {
  display: block; }

.sectionServices2 {
  padding: 100px 0; }

.services2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .services2__cell {
    width: 50%;
    height: 300px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }

.services2 h2 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 30px;
  text-align: center; }

.titleTextButton--small {
  padding: 50px; }

.services2__cellNumber {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: rgba(229, 227, 227, 0.5);
  z-index: 4;
  top: -110px; }

.services2__cell--2 {
  background-image: url(../assets/image-10.jpeg);
  background-size: cover; }

.services2__cell--3 {
  background-image: url(../assets/image-11.jpeg);
  background-size: cover; }

.sectionQuestions {
  background-color: #8ecceb; }

.questions {
  padding: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 665px) {
    .questions {
      padding: 70px 0; } }
  .questions__input {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 5px;
    width: 80%;
    background: transparent;
    border: 1px solid #1d1d1d;
    text-align: center;
    text-transform: uppercase; }

.questions h2 {
  margin-bottom: 30px; }

.sectionAbout {
  background-color: #f1f3f3; }

.about {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 665px) {
    .about {
      padding: 70px 0;
      margin: 0 auto; } }
  .about__title {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center; }
  .about__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 530px) {
      .about__gallery {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .about__images {
    width: 30%;
    height: 100%;
    position: relative; }
    @media (max-width: 530px) {
      .about__images {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 30px; } }
  .about__imagesCaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 29, 29, 0.83);
    color: #eeeded;
    text-align: center;
    display: none; }
  .about__images:hover .about__imagesCaption {
    display: block; }

.about__overlayText {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  padding: 0 10px; }

footer {
  background-color: #1d1d1d;
  color: #ffffff;
  position: relative; }

.footerTop {
  padding-top: 100px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: auto;
  flex-direction: auto;
  justify-content: space-between;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4); }

.footerBox {
  width: 30%; }
  @media (max-width: 810px) {
    .footerBox {
      width: 50%; } }
  .footerBox__heading {
    margin-bottom: 30px; }

.footerBox1, .footerBox2 {
  padding-right: 10%; }

.footerBox1__text--email::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  margin-right: 10px; }

.footerBox1__text--phone::before {
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  margin-right: 10px; }

.footerBox1__text--city::before {
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  margin-right: 10px; }

.footerBox2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; }

.footerBox3 {
  width: 40%; }
  @media (max-width: 810px) {
    .footerBox3 {
      width: 100%;
      margin: 0 auto; } }

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: auto;
  flex-direction: auto;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .instagram__cell {
    padding: 0 0 5px 5px; }
    @media (max-width: 980px) {
      .instagram__cell--last {
        display: none; } }

.navBar__logo--footer {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.navBar__item--white a {
  color: white; }

.copyright {
  padding-bottom: 2px;
  text-align: center; }

.footer__social {
  position: absolute;
  top: 200px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footer_social a {
  color: rgba(255, 255, 255, 0.4); }

i.fab {
  color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px; }
  i.fab:hover {
    color: #0e5f88; }

.emailInput {
  border: 1px solid #ffffff;
  padding-left: 10px; }

.footerBox input {
  border: none;
  background: transparent;
  padding: 5px 10px 5px 0;
  color: #ffffff;
  width: 75%;
  margin: 5px 10px 5px 0; }

.footer__button {
  width: 10%;
  background: transparent;
  border: none; }
  .footer__button i.far {
    color: white; }
